<?xml version="1.0"?>
<launch>

 <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="robot_ip" default="192.168.1.31"/>
  <arg name="limited" default="true"/>
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="5.0"/>
  <arg name="prefix" default="" />
    <!-- send robot urdf to param server -->
  <include file="$(find xamla_egomo)/launch/ur5_description.launch"/>
  
  <!-- ur common (also robot state publisher etc)-->
  <include file="$(find ur_modern_driver)/launch/ur_common.launch">
    <arg name="prefix"  value="$(arg prefix)" />
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="min_payload"  value="$(arg min_payload)"/>
    <arg name="max_payload"  value="$(arg max_payload)"/>
  </include>  

  <!--start controllers -->
  <include file="$(find xamla_egomo)/launch/contoller_utils.launch">  </include>  



</launch>
